<%- model_class = Wall.new.class -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @walls.each do |wall| %>
      <tr>
        <td><%= link_to wall.name, wall_path(wall) %> <%= "(Locked)" if wall.locked? %></td>
        <td><%=l wall.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_wall_path,
            :class => 'btn btn-primary' %>

<%= link_to 'Import', '#', :class => 'btn import-ewall' %>

<div id="import_form" style='display: none'>
<%= form_tag import_walls_path, :multipart => true, :class => 'form-inline' do -%>
  <label for="file"><h3>Exported file: <small>('.ewall' extension file)</small></h3></label>
  <%= file_field_tag :file, :class => 'text_field', :onchange => 'inProgress("Upload");this.form.submit();' %>
<% end -%>
</div>