<%- delete_changes = changes.select{|c| c.type == 'removed'} -%>
<div class='well columns-diff'>
  <table class="table-bordered">
    <thead>
      <tr>
        <%- grid.columns.each do |column| -%>
        <th>
          <%= image_tag(column.head.image, column.head.data.merge(:class => 'head')) %>
          <span class="badge badge-info"><%= column.body.size %></span>
        </th>
        <%- end -%>
        <th class="removed-cards">
          <div>Removed Cards</div>
          <span class="badge badge-info"><%= delete_changes.size %></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%- grid.columns.each do |column| -%>
        <td class="column" style="width: <%= 100.0/(grid.columns.size + 1) %>%">
          <%- column.body.each do |card| -%>
            <%= image_tag(card.image, card.data.merge(change(changes, card))) %>
          <%- end -%>
        </td>
        <%- end -%>
        <td class="removed-cards">
          <%- delete_changes.each do |change| -%>
            <%= image_tag(change.item.image, change.item.data.merge(change(changes, change.item))) %>
          <%- end -%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
